#container {
  display: inline-block;
  position: relative;
}

#container figcaption {
  position: absolute;
  top: 650px;
  right: 5%;
  font-size: 60px;
  color: black;
  text-shadow: 0px 0px 5px black;
}